<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>VisforVegan Blog &#129498</title>
    <!--    <style type="text/css">-->
    <!--        /*h2 {font-style: bold;}*/-->
    <!--    </style>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<header class="header-section">

    <!--Login Pop Up-->
    <div class="form-popup" id="myForm">
        <form th:action="@{/login}" class="form-container" method="post">
            <h1>Login</h1>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="btn">Login</button>
            <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <!--Navigation bar-->
    <div class="bg-img">
        <div class="container">
            <div class="topnav">
                <a href="index">Home</a>
                <a href="posts">Recipes</a>
                <a href="about">About</a>
                <a href="contact">Contact</a>
                <div class="user-panel">
                    <a link href="signup">Register</a>
                </div>
            </div>
            <span sec:authentication="name"></span>
            <div sec:authorize="isAnonymous()">
                <button class="open-button" onclick="openForm()">Login</button>
            </div>
            <div class="user-panel" th:text="${saveOk}"></div>

        </div>
    </div>
    </div>
</header>

<!--Blog section-->
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div th:href="contact" class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div>
            <br>
            <div class="fakeimg">Image</div>
            <br>
            <div class="fakeimg">Image</div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>


<!--    Now is: <b th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></b>-->
</body>
</html>