<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headers :: head(title='Login &#129498')"></head>

<body>
<header class="header-section">
    <div class="bg-img">
        <div class="container">
            <!--Login Pop Up-->
            <div class="form-popup" id="myForm">
                <form th:action="@{/login}" class="form-container" method="post">
                    <h1>Login</h1>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit" class="btn">Login</button>
                    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

            <!--Navigation bar-->
            <div th:replace="fragments/navbar :: navbar"></div>
            <div sec:authorize="isAnonymous()">
                <button class="open-button" onclick="openForm()">Login</button>
            </div>
            <div class="user-panel" th:text="${saveOk}"></div>
        </div>
    </div>
</header>
<!--    Now is: <b th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></b>-->
</body>
</html>