<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headers :: head(title='Posts &#129498')"></head>

<body>
<div class="container-fluid">
    <section class="container">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-page">
            <form class="row">
                <div class="form-group col-lg-8">
                    <div class="card">
                        <div class="allposts">
                            <p>Explore interesting posts:</p>
                            <article>
                                <div th:each="post : ${allposts}">
                                    <h2 th:text="${post.title}"> </h2>
                                    <h5 th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}
                            + ' by ' + ${post.getAuthor().getUsername()}"></h5>

                                    <p th:text="${post.body}"></p>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>

                <div class="form-group col-lg-4" sec:authorize="isAuthenticated()">
                    <div class="card">
                        <h3>Hey,
                            <span sec:authentication="name"></span>! Check out your latest posts:
                        </h3>
                        <article>
                            <div th:each="post : ${latestposts}">
                                <h2 class="title" th:text="${post.title}">Post Title</h2>
                                <div class="date">
                                    <i>Posted on</i>
                                    <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></span>
                                    <span th:if="${post.author}" th:remove="tag">
                        <i>by</i>
                        <span th:text="${post.author.username != null ?
                                         post.author.username : post.author.username}"></span>
                        </span>
                                </div>
                                <p class="content" th:utext="${post.body}">Post content</p>
                                <div class="actions">
                                    <a th:href="@{'/editpost/'+${post.id}}" type="submit" class="button">Edit</a>
                                    <a th:href="@{'/editpost/'+${post.id}}" class="button button-secondary">Delete</a>
                                </div>
                            </div>
                            <br>
                        </article>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>

</html>